
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.smallShadow{
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
}

html{
  width: 100%;
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 1.38em;
  font-family: "helvetica", helvetica;
  font-weight: normal;
  background-color: #000000;
  color: #cbcbcb;
  height: 100%;
  width:100%;
  vertical-align: middle;

}

.round{
  border-radius: 5px;
}

.border{
  border: 2px solid white;
}

.centerBlock{

}

#content{
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#createUserTitle{
  width: 100%;
  height: 8%;
  font-size: 1.5em;
  text-align: center;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;

}
#avatarSelection{
  width: 100%;
  height: 48%;
  text-align: center;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}
.avatarOption{
  height: 100%;
  width: 20%;
  display:inline-block;
  border: 1px dashed white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
html .selected{
  border: 2px solid white;
}
#runningName{
  width: 100%;
  height: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
html .selectedFrag{
  font-size: 1.5em;
  height: 100%;
  width: auto;
  background-color: white;
  color: black;
  margin:0 0 0 0;
  padding: 0 0 0 0;
  vertical-align: middle;
  vertical-align: center;
}
#nameSelection{
  width: 100%;
  height: 22%;
  text-align: center;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}
.nameFragment{
  width: 8em;
  margin: 1em .5em 1em .5em;
  padding: .5em .25em .5em .25em;
  display: inline-block;
  border: 1px dashed white;
}
#createUserButtons{
  width: 100%;
  height: 14%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#createUserConfirm{
  width: 50%;
  height: 100%;
  background-color: blue;
  display: inline-block;
}
#createUserCancel{
  width: 50%;
  height: 100%;
  background-color: blue;
    display: inline-block;

}

#sendButton{

}

@media screen and (max-width: 1280px){

  body{

  }

}

@media screen and (max-height: 400px){

  body{

  }

}


@media screen and (max-width: 768px){


}
