
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.smallShadow{
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.75);
}

html{

  width: 100%;
  height: 100%;
}

body{
  font-size: 14px;
  line-height: 1.38em;
  font-family: "helvetica", helvetica;
  font-weight: normal;
  background-color: #000000;
  color: #cbcbcb;
  height: 100%;
  width:100%;
}



#main{
  background-color: black;
  position: relative;;
}

#chat{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 200px;
  background-color: green;
}

#wordButtons{
  position: fixed;
  z-index: 100;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  background-color: orange;
}

#sentenceBar{
  position: fixed;
  width: auto;
  height: 100px;
  background-color: blue;
}


#sendButton{
  width: 100px;
  height: 50px;
}

.button{
  display: inline-block;
  border: 1px solid white;
  background-color: black;

}

@media screen and (max-width: 1280px){

  body{

  }

}

@media screen and (max-height: 400px){

  body{

  }

}


@media screen and (max-width: 768px){

  body{
    font-size: 13px;
  }
}
